@{
    ViewData["Title"] = "Home Page";
}

<h2>
    Wellcome! This is simple project,in which you can upload some car, filling the properties.
    Then you can check this car, edit or delete. If you have not uploaded car, you do this by clicking
    <a href="/car/createcar" >HERE</a>, or if you have already uploaded car, you can check 
    <a href="/car">HERE</a>. ENJOY!!
</h2>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
   </div>